
.ship-2.horizontal {
    height: 125px;
    width: 35px;
    margin-left: 28px;
    margin-top: -38px;
    transform: rotate(270deg);
}

.ship-2.vertical {
    margin-left: -5px;
    margin-top: -5px;
    height: 125px;
    width: 34px;
    transform: rotate(0deg);
}

.ship-3.horizontal {
    height: 185px;
    width: 45px;
    margin-left: 55px;
    margin-top: -70px;
    transform: rotate(270deg);
}

.ship-3.vertical {
    margin-left: -10px;
    margin-top: -4px;
    height: 185px;
    width: 45px;
    transform: rotate(0deg);
}

.ship-4.horizontal {
    height: 245px;
    width: 60px;
    margin-left: 80px;
    margin-top: -100px;
    transform: rotate(270deg);
}

.ship-4.vertical {
    margin-left: -16px;
    height: 245px;
    width: 60px;
    transform: rotate(0deg);
}

.ship-5.horizontal {
    height: 310px;
    width: 70px;
    margin-left: 110px;
    margin-top: -135px;
    transform: rotate(270deg);
}

.ship-5.vertical {
    margin-left: -20px;
    height: 310px;
    width: 70px;
    transform: rotate(0deg);
}